<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Services</key>
		<dict>
			<key>Accessibility</key>
			<array>
				<dict>
					<key>Allowed</key>
					<true />
					<key>CodeRequirement</key>
					<string>anchor apple generic and identifier "com.wacom.wacomtablet" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = EG27766DY7)</string>
					<key>Identifier</key>
					<string>com.wacom.wacomtablet</string>
					<key>IdentifierType</key>
					<string>bundleID</string>
					<key>StaticCode</key>
					<false />
				</dict>
				<dict>
					<key>Allowed</key>
					<true />
					<key>CodeRequirement</key>
					<string>anchor apple generic and identifier "com.wacom.FirmwareUpdater" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = EG27766DY7)</string>
					<key>Identifier</key>
					<string>com.wacom.FirmwareUpdater</string>
					<key>IdentifierType</key>
					<string>bundleID</string>
					<key>StaticCode</key>
					<false />
				</dict>
				<dict>
					<key>Allowed</key>
					<true />
					<key>CodeRequirement</key>
					<string>anchor apple generic and identifier "com.wacom.TabletDriver" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = EG27766DY7)</string>
					<key>Identifier</key>
					<string>com.wacom.TabletDriver</string>
					<key>IdentifierType</key>
					<string>bundleID</string>
					<key>StaticCode</key>
					<false />
				</dict>
				<dict>
					<key>Allowed</key>
					<true />
					<key>CodeRequirement</key>
					<string>anchor apple generic and identifier "com.wacom.WacomTouchDriver" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = EG27766DY7)</string>
					<key>Identifier</key>
					<string>com.wacom.WacomTouchDriver</string>
					<key>IdentifierType</key>
					<string>bundleID</string>
					<key>StaticCode</key>
					<false />
				</dict>
				<dict>
					<key>Allowed</key>
					<true />
					<key>CodeRequirement</key>
					<string>anchor apple generic and identifier "com.wacom.IOManager" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = EG27766DY7)</string>
					<key>Identifier</key>
					<string>com.wacom.IOManager</string>
					<key>IdentifierType</key>
					<string>bundleID</string>
					<key>StaticCode</key>
					<false />
				</dict>
			</array>
			<key>AppleEvents</key>
			<array>
				<dict>
					<key>AEReceiverCodeRequirement</key>
					<string>identifier "com.apple.systempreferences" and anchor apple</string>
					<key>AEReceiverIdentifier</key>
					<string>com.apple.systempreferences</string>
					<key>AEReceiverIdentifierType</key>
					<string>bundleID</string>
					<key>Allowed</key>
					<true />
					<key>CodeRequirement</key>
					<string>anchor apple generic and identifier "com.wacom.wacomtablet" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = EG27766DY7)</string>
					<key>Identifier</key>
					<string>com.wacom.wacomtablet</string>
					<key>IdentifierType</key>
					<string>bundleID</string>
					<key>StaticCode</key>
					<false />
				</dict>
				<dict>
					<key>AEReceiverCodeRequirement</key>
					<string>identifier "com.apple.systempreferences" and anchor apple</string>
					<key>AEReceiverIdentifier</key>
					<string>com.apple.systempreferences</string>
					<key>AEReceiverIdentifierType</key>
					<string>bundleID</string>
					<key>Allowed</key>
					<true />
					<key>CodeRequirement</key>
					<string>anchor apple generic and identifier "com.wacom.Wacom-Desktop-Center" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = EG27766DY7)</string>
					<key>Identifier</key>
					<string>com.wacom.Wacom-Desktop-Center</string>
					<key>IdentifierType</key>
					<string>bundleID</string>
					<key>StaticCode</key>
					<false />
				</dict>
			</array>
			<key>SystemPolicyAllFiles</key>
			<array>
				<dict>
					<key>Allowed</key>
					<true />
					<key>CodeRequirement</key>
					<string>anchor apple generic and identifier "com.wacom.wacomtablet" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = EG27766DY7)</string>
					<key>Identifier</key>
					<string>com.wacom.wacomtablet</string>
					<key>IdentifierType</key>
					<string>bundleID</string>
					<key>StaticCode</key>
					<false />
				</dict>
				<dict>
					<key>Allowed</key>
					<true />
					<key>CodeRequirement</key>
					<string>anchor apple generic and identifier "com.wacom.FirmwareUpdater" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = EG27766DY7)</string>
					<key>Identifier</key>
					<string>com.wacom.FirmwareUpdater</string>
					<key>IdentifierType</key>
					<string>bundleID</string>
					<key>StaticCode</key>
					<false />
				</dict>
				<dict>
					<key>Allowed</key>
					<true />
					<key>CodeRequirement</key>
					<string>anchor apple generic and identifier "com.wacom.TabletDriver" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = EG27766DY7)</string>
					<key>Identifier</key>
					<string>com.wacom.TabletDriver</string>
					<key>IdentifierType</key>
					<string>bundleID</string>
					<key>StaticCode</key>
					<false />
				</dict>
				<dict>
					<key>Allowed</key>
					<true />
					<key>CodeRequirement</key>
					<string>anchor apple generic and identifier "com.wacom.WacomTouchDriver" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = EG27766DY7)</string>
					<key>Identifier</key>
					<string>com.wacom.WacomTouchDriver</string>
					<key>IdentifierType</key>
					<string>bundleID</string>
					<key>StaticCode</key>
					<false />
				</dict>
				<dict>
					<key>Allowed</key>
					<true />
					<key>CodeRequirement</key>
					<string>anchor apple generic and identifier "com.wacom.IOManager" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = EG27766DY7)</string>
					<key>Identifier</key>
					<string>com.wacom.IOManager</string>
					<key>IdentifierType</key>
					<string>bundleID</string>
					<key>StaticCode</key>
					<false />
				</dict>
				<dict>
					<key>Allowed</key>
					<true />
					<key>CodeRequirement</key>
					<string>anchor apple generic and identifier "com.wacom.Wacom-Desktop-Center" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = EG27766DY7)</string>
					<key>Identifier</key>
					<string>com.wacom.Wacom-Desktop-Center</string>
					<key>IdentifierType</key>
					<string>bundleID</string>
					<key>StaticCode</key>
					<false />
				</dict>
				<dict>
					<key>Allowed</key>
					<true />
					<key>CodeRequirement</key>
					<string>anchor apple generic and identifier "com.wacom.Wacom-Display-Settings" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = EG27766DY7)</string>
					<key>Identifier</key>
					<string>com.wacom.Wacom-Display-Settings</string>
					<key>IdentifierType</key>
					<string>bundleID</string>
					<key>StaticCode</key>
					<false />
				</dict>
				<dict>
					<key>Allowed</key>
					<true />
					<key>CodeRequirement</key>
					<string>anchor apple generic and identifier "com.wacom.RemoveWacomTablet" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = EG27766DY7)</string>
					<key>Identifier</key>
					<string>com.wacom.RemoveWacomTablet</string>
					<key>IdentifierType</key>
					<string>bundleID</string>
					<key>StaticCode</key>
					<false />
				</dict>
			</array>
		</dict>
	</dict>
</plist>